@model TaxiFareCalculator.Models.TaxiFare

@{
    ViewBag.Title = "TaxiFare";
}
<h5>Enter your trip details below</h5>

<Form ng-controller="TaxiFareController" name="MainForm">
    <div>
        <table>
            <tr>
                <td width="180">
                    <label id="DateLabelID">Date of Trip:</label>
                </td>
                <td width="210">
                    <input type="date" id="DateOfTripID" ng-model="TaxiFare.DateOfTrip" required />
                </td>
            </tr>
            <tr>
                <td width="180">
                    <label id="TimeLabelID">Time of start of ride:</label>
                </td>
                <td width="210">
                    <input type="time" id="TimeOfTripID" ng-model="TaxiFare.TimeOfTrip" required />
                </td>
            </tr>
            <tr>
                <td width="180">
                    <label id="DistanceLabel2ID">Number of minutes while traveling above 6 mph:</label>
                </td>
                <td width="210">
                    <input type="number" id="Distance2ID" ng-model="TaxiFare.TimeTraveledOver6Mph" required />
                </td>
            </tr>
            <tr>
                <td width="180">
                    <label id="DistanceLabel1ID">Number of miles traveled while traveling below 6 mph:</label>
                </td>
                <td width="210">
                    <input type="number" id="Distance1ID" ng-model="TaxiFare.DistanceTraveledUnder6Mph" required />
                </td>
            </tr>
            <tr>
                <td width="280" align="center">
                    <h5>{{Total}}</h5>
                </td>
            </tr>
            <tr>
                <td width="100"></td>
                <td width="25">
                    <button id="SubmitID" ng-click="Submit(MainForm.$valid)">Submit</button>
                </td>
                <td width="25">
                    <button id="ClearID" ng-click="Clear()">Clear</button>
                </td>
            </tr>
        </table>
    </div>
</Form>
